<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @post.photo.url if @post.photo? %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
</p>

<!--<div id="map"></div>-->

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style type="text/css">
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 300px;
  }

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<script>
  let map;

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: <%= @post.latitude %>, lng: <%= @post.longitude %> },
      zoom: 15,
    });
    const markerOptions = {
      map: map,
      position: { lat: <%= @post.latitude %>, lng: <%= @post.longitude %> },
    };
    const marker = new google.maps.Marker(markerOptions);
  }
</script>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map[:access_key] %>&callback=initMap&libraries=&v=weekly"
  async
></script>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
